# IDEs
.idea
.vscode

# Old version
OLD_VERSION

# Dependencies
node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Keep important files
!README.md
!db/data/runs.csv

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
postgres_data
